################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/QuizMaker/FileContentIndex/0274c561-c5db-4304-987c-b5cbb98bc08e.vsidx
